html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
  }
  
  
  .topnav {
    overflow: hidden;
    background-color: #F5E7E0;
    text-align: right; 
    position: fixed;
    top:0%;
    width: 100%;
    z-index: 9999;
  }

  .topnav a {
    display: inline-block; 
    color: #884e45;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family:"Allerta", sans-serif;;
  }
 
  
  .topnav a:hover {
    text-decoration: underline;
    text-decoration-color: #77949d;
  }
  
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav{
      width:100%;
      height:auto;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }





  .hero {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: #F5E7E0;
    background: linear-gradient(#F5E7E0,white);
    position: relative; 

  }

.hero-images{
  overflow: hidden;
  width:100%;
}
 .hero-icons{
  width:auto;
  height:auto;
  position: relative;
  top:-320px;
  left:140px;

 } 
 .hero-icons i{
  margin:10px;
 }
 .hero-icons i:hover{
  cursor: pointer;
  color:#884e45;
 }
 .hero-icons i{
  color:#fe6f3e;
 }
 
  .name-container {
    text-align: left;
    position: absolute;
    left: 150px;
    top: 200px;
  }
  #text1{
      font-size: 20px;
      font-family: "Allerta", sans-serif;
      color:#884e45;
  }
  #text2{
    margin-top: -20px;
      font-size:50px;
      font-family: "Allerta", sans-serif;
      color:#fe6f3e;;
  }
  
  .profile-image {
    width: 310px;
    height: 360px;
    background-color: #884e45;
    position: relative;
    top: 120px;
    left: 100px;
    border-radius: 20px;
    z-index: 10;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.3);
  }
  .img-back{
    width: 310px;
    height: 360px;
    border:2px solid #884e45;
    opacity: 0.2;
    color:#f5e7e0;
    border-radius: 20px;
    position: relative;
    top:135px;
    left:720px;
  }
  .intro{
    position: relative;
    top:330px;
  }
  .side-img{
    width:80px;
    height:100px;
    z-index: 100;
    position: relative;
    left:80px;
    top:80px;
  }
  .side-img2{
    width:80px;
    height:100px;
    z-index: 100;
    position: relative;
    left:-280px;
    top:-185px;
  }
  .side-img3{
    width:90px;
    height:110px;
    z-index: 100;
    position: relative;
    left:-420px;
    top:10px;
  }
  
  .sliding-text {
    overflow: hidden;
    display: inline-block;
    text-align: left;
    margin-left: 150px;
    width:460px;
    height:auto; 
    position: relative;
    top:-350px;  
  }
  .slide1, .slide2{
    font-family: "Lato", sans-serif;
    display: inline-block;
    opacity: 0;
    font-size: 20px;
    color:#884e45;
    position: relative;


  }
  
  .slide1 {
    animation: slide 2s forwards;
  }
  .slide2{
    animation: slide 3s forwards;
  }
  
  
  
  @keyframes slide {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @media(max-width:600px) {
    .hero {
      height:auto;
      padding: 30px;
      flex-direction: column;
    }
  
    .side-img3{
      top:-95px;
      left:40px;
    }
    .side-img{
      left:30px;
    }
    .sliding-text{
      left:-26px;
    }
    .hero-icons{
      left:110px;
    }
    .profile-image{
      left:70px;
    }

    }



  .about-container,.work-container,.contact-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center; 
    flex-direction: column; 
    text-align: center;
    padding: 20px; 
  }

.about,.work,.contact{
  margin-top: 50px;
  color:#884e45;
    font-size: 30px;
    font-family: "Allerta", sans-serif;
    margin-bottom: 20px; /* Space between title and paragraph */
}


.about-para {
    width: 100%;
    margin-right:20px;
    display: flex;
    padding: 10px;
}
.about-para p{
  font-family: "Noto Serif", serif;
  font-size: 25px;
  line-height: 1.5;
}
@media(max-width:600px) {
  .about {
    padding:5px;
    flex-direction: column;
  }
  .about-para p{
    padding: 10px;
    height:auto;
  }

  }
.flex-container{
  display: flex;
  justify-content: space-evenly;
  margin:5px;
}
.flex-container p{
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.flex-container div{
  margin:20px;
  text-align: left;
  background-color: rgb(244, 237, 237);
  width: 250px;
  height:auto;
  color:#884e45;
  padding:15px;
  border:0.5px solid #884e45;
  border-radius: 10px;
  font-family: "Allerta", sans-serif ;
  font-size: 15px;
  }
  .flex-container div:hover{

    box-shadow: 2px 2px rgba(0,0,0,0.2);
   
  }
  @media(max-width:600px) {
    .flex-container {
      flex-direction: column;
    }
    }
.flex-container img{
  width:30px;
  height:30px;
}
td{
  height:45px;
  font-size: 13px;
}
.slide-img-name{
  font-family: "Allerta", sans-serif;
  color:black;
}
.container {

  display: flex; 
  gap: 30px; 
  margin-top: 50px; 
  margin-left: 5px;

}

.div-first, .div-sec {
  height:auto;
  width: 440px; 
  background-color: rgb(244, 237, 237);
  border-radius: 15px;
}
.div-first{
  background-color: white;
  border-radius: 15px;
}
.div-sec{
  padding: 15px;
  box-sizing: border-box;  
  border-radius: 15px;
}
.slideshow-container1{
  background-color: white;
  position: relative;
  height: 380px; 
  margin: 0;
}
.slideshow-container2 {
  position: relative;
  height: 350px; 
  margin: 0;

}

.mySlides {
  display: none;
  height: 100%; 
  box-sizing: border-box;
  text-align: left;
}

.mySlides img {
  height: 100%;
  width: 100%; 
  border-radius: 15px;
  object-fit:cover;

}


/* Navigation buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 1630px;
  transform: translateY(-50%);
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  z-index: 1;
}

.prev {
  left: 160px; 
}

.next {
  right:110px;
}

.prev:hover, .next:hover {
  color: rgba(67, 63, 63, 0.6);
}
@media(max-width:600px) {
  .container {
    margin-left: 0px;
    flex-direction: column;
  }
  .prev,.next{
    position: relative;
    top:-403.5px; 
  }
  .prev{
    left:-20px;
  }
  .next{
    right:-20px;
    top:-460px;
  }
  .div-first{
    margin-bottom: 20px;
  }
  }


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.img-para {
  color:#884e45;
  font-size: 15px;
  font-family:  "Lato", sans-serif;;
  padding: 20px;
  text-align: justify;
}
.slide-img-name{
  font-size: 20px;
  font-weight: 100;
}



.flex-container1{
  display: flex;
  justify-content: space-evenly;
  margin:5px;
}
.flex-container1 p{
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.con-info table{
  border: none;
}
.flex-container1 div{
  margin:20px;
  text-align: left;
  background-color: rgb(244, 237, 237);
  width: 350px;
  height:auto;
  padding:25px;
  border-radius: 10px;
  font-family: "Allerta", sans-serif ;
  font-size: 15px;
  border:0.5px solid #884e45;
  }
 
  .flex-container div:hover{
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
   
  }

  .fa-solid{
    color: #d69288;
  }
  @media(max-width:600px) {
    .flex-container1 {
      flex-direction: column;
    }
    }


.name-form, .mail-form, .txt-form{
  width:100%;
  background-color:rgb(244, 237, 237) ;
  border: none;
  border-bottom: 1px solid #D69288;
  margin-top: 10px;
}

form p{
  color:gray;
}
.name-form{
  height:20px;
  
}
.mail-form{
  height:20px;

}
.txt-form{
  border: 1px solid #D69288;
  height:100px;
}
input[type=text]{
  outline: none;
}
input[type=email]{
  outline: none;
}

.btn-submit,.btn-cancel{
  margin-top: 20px;
  width:60px;
  padding:5px;
  position: relative;
  left:40%;
  border: none;
  background-color:#D69288 ;
  color:white;
  border-radius: 10px;
}

.btn-submit:hover{
  cursor: pointer;
  background-color:white;
  color:#D69288 ;
}
.contact-icon{
  width:35px;
  height:35px;
}
.con-info{
  justify-content: center;
}
.con-td{
  height:100px;
  width:80px;
}


.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height:auto;
  position: relative;
  left: 0;
  bottom: 0;
  padding:5px;
  background-color: #F5E7E0;

}
ul {
  list-style-type: none;
text-align: center;
}
.footer ul li a{
  color:#d69288;
}
li {
  float: left;
  padding: 0px 18px;
  color:#d69288;
}
li:hover{
  cursor: pointer;
}

@media screen and(max-width:600px) {
  .footer-container {
      flex-direction: column;
  }
  .footer{
      flex-direction: column;
  }
}








